html{
 -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

body{
 padding-top: 0em;
 font-family:marriweather;
 
}
img{
width:20em;
height:auto;

}

.logo{
background-color:	#001A33;
padding-bottom: 0em;
}
.nav {
padding-top: 0em;

}


nav{
background-color:red;
display: inline;
padding-top:.5em;
padding-bottom:.5em;

}

a{
display: inline;
padding-left: 5em;
color:white;
}

.info {
position:absolute;
padding-left:15em;
padding-right:1em;


}



fieldset{
width:10em;


}

.hidden{
display:none;

}


@media screen and (max-width: 25em) {
  
  nav{
   background-color:black;
     
  }
  
  a{
  display:block;
  color:grey;
  font-size:2em;
  padding-left:3em;
  }
  .info{
   position:relative;
padding-left:1em;
padding-right:1em;
  }
  
  
}



@media screen and (min-width: 50em) {
   nav{
    padding-left: 7em;
    padding-right: 7em;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 80em) {
   nav{
    padding-left: 10em;
    padding-right: 10em;
    margin-left: auto;
    margin-right: auto;
  }
}


}

