html{
 -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

body{
 padding-top: 0em;
 font-family:marriweather;
 
}
img{
width:20em;
height:auto;

}

.logo{
background-color:	#001A33;
padding-bottom: 0em;
}
.nav {
padding-top: 0em;

}


nav{
background-color:red;
display: inline;
padding-top:.5em;
padding-bottom:.5em;


}

a{
display: inline;
padding-left: 5em;
color:white;
}






fieldset{
width:10em;
margin-right:80em;
background-color:#E6E6E6;
}

.info {


padding-left:2em;
padding-right:2em;


}


.hidden{
display:none;

}





@media screen and (max-width: 25em) {
  
  nav{
   background-color:	#333333;
    
  }

  nav a:hover{
  color:red;
 
  
  }
  
  
  .logo img{
  width:15em;
  padding-left:1em;
  
  }
  
  a{
  display:block;
  color:	#CCCCCC;
  font-size:2em;
  padding-left:3em;
  }
  .info{
   position:relative;
padding-left:1em;
padding-right:1em;
  }
  
  fieldset{
  background-color:red;
 
  
  }
  
  fieldset input{
  padding-left:1.5em;
  padding-right:1.5em;
  
  }
  }
  
   @media screen and (min-width: 1000px) {
   
   
    nav{
        background-color:	#990000;
    
  }
   fieldset{
  background-color:	#B2B2B2;
 
  
  }
   
   }
  
  



}